@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import './assets/css/normalize.scss';
@import './assets/css/bootstrap.scss';

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1C1C1C;
    color: #ffffff;
    height: 100%;
}

body {
    background-image: url(./assets/img/Background.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.text-center {
    text-align: center;
}

.button {
    border: none;
    text-decoration: none;
    height: 42px;
    background: #ef394a;
    padding: 10px 20px;   
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin: 5px;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    &.header-white {
        background-color: #ffffff;
    }
}

.home {
    padding-top: 100px;
}

.main {
    height: 100vh;
    text-align: center;
    .container-fluid, .row {
        height: 100%;
    }
    h1 {
        font-weight: 900;
        font-size: 50px;
        text-align: center;
        color: #fff;        
    }
    p {
        font-weight: 600;
        font-style: italic;
        font-size: 16px;
        text-align: center;
        color: #fff;        
    }
    a {
        display: inline-flex;
    }
}

.subpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    &-image {
        flex: 0 0 50%;
        max-width: 50%;
        background-size: cover;
        background-position: center;
    }
    &-right {
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.sign-in-image {
    background-image: url(./assets/img/sign-in.jpg);
    position: relative;
}

.log-in-image {
    background-image: url(./assets/img/login.jpg);
    position: relative;
}

.forget-image {
    background-image: url(./assets/img/forget.jpg);
    position: relative;
}

.form {
    padding: 35px 50px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    max-width: 60%;
    flex: 0 0 60%;
    label {
        display: block;
        width: 100%;
        padding: 5px 0;
    }
    input {
        height: 50px;
        background: #fff;
        border: 1px solid #e2e8f0;
        padding: 5px;
        width: 100%;
        &::placeholder {
            font-weight: normal;
            font-size: 15px;
            text-align: left;
            color: #cfcfcf;
        }
    }
    .button {
        text-align: center;
        margin: 10px 0 25px 0;
    }
    h3 {
        font-weight: 900;
        font-size: 30px;
        text-align: center;
        color: #252367;
        margin-top: 0;
    }
    a {
        text-decoration: none;
        font-weight: normal;
        font-size: 13px;
        text-align: center;
        color: #9c9c9c;
        margin-top: 15px;
    }
}

.add-task {
    padding: 15px 0;
    position: relative;
    input {
        height: 50px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.07);
        font-weight: normal;
        font-size: 14px;
        text-align: left;
        border: none;
        width: 100%;
        padding: 5px 15px 5px 45px;
        color: #fff;
        &::placeholder {
            color: rgba(255, 255, 255, 0.822);
        }
    }
    &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: 15px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-image: url(./assets/img/Plus.svg);
        background-size: 16px;
    }
}

.tasks {
    height: 50px;
    border-radius: 5px;
    background: #434343;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #fff;
    margin: 10px 0;
    position: relative;
    label {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 17px 15px 17px 45px;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border: 1px solid #48A6DD;
            background-color: #48A6DD;
            border-radius: 50%;
            left: 15px;
            background-image: url(./assets/img/check.svg);
            background-size: 8px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    input {
        opacity: 0;
    }
    &.true {
        label {
            &::before {
                background-color: transparent;
                border-color: #fff;
            }
        }
    }
}